.taskItems {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #dddcdc;
}
.taskItems span {
	flex: 1;
	font-size: 22px;
	cursor: pointer;
	word-break: break-word;
	padding-right: 10px;
}

.completed {
	text-decoration: line-through;
	color: #4add82;
}

.taskItems button {
	background: none;
	border: none;
	color: #e74c3c;
	cursor: pointer;
	font-size: 18px;
}

.taskItems button:hover {
	color: #8b1604;
	transition: 0.3s;
}

@media (max-width: 526px) {
	.taskItems span {
		font-size: 16px;
	}
	.taskItems button {
		font-size: 16px;
	}
}
