.taskInput {
  display: flex;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #500303da;
}

.taskInput input {
  flex: 1;
  padding: 10px;
  border: 1px solid #d3d2d2;
  border-radius: 5px;
  font-size: 22px;
}

.taskInput button {
  margin-left: 10px;
  padding: 10px;
  background-color: #030303;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
}

.taskInput button:hover {
  background-color:#4add82;
  transition: 0.3s;
}

@media (max-width: 526px) {
	.taskInput input {
		font-size: 16px;
	}
	.taskInput button {
		font-size: 16px;
	}
}